:root {
    --cellSizeOnBoard: 32px;
    --cellSizeOnDisplay: 22px;
    --ship2: 2;
    --ship3: 3;
    --ship4: 4;
    --ship5: 5;
}

*{
    background-color: rebeccapurple;
}

.mainPage{
    justify-content: center;
    align-items: center;
}

.setupPage{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 4fr 1fr; 
    height: 500px;
    width: 500px;
    justify-self: center;
    align-self: center;
}

.boardContainer{
    grid-area: 0 / 1 / 0 / 1;
    border:solid black 8px;
    border-radius: 8px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, var(--cellSizeOnBoard));
    grid-template-rows: repeat(10, var(--cellSizeOnBoard));
    justify-content: center;
    justify-self: center;
    height: fit-content;
    width: fit-content;
}

.cell{
    height: var(--cellSizeOnBoard);
    width: var(--cellSizeOnBoard);
    background: rgb(189, 189, 189);
    border: none;
    outline: 2px solid black
}

.validPlacement{
    background: grey;
}
.invalidPlacement{
    background: rgb(222, 75, 75)
}

.shipDisplay{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    background: peachpuff;
    height: fit-content;
    align-items: center;
    justify-content: center;
}

.shipContainer{
    display: flex;
    border:none;
    background: inherit;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: calc(20px + (var(--cellSizeOnDisplay)*5))
}

.containerSize2{
    height: calc(20px + (var(--cellSizeOnDisplay)*var(--ship2)));
}
.containerSize3{
    height: calc(20px + (var(--cellSizeOnDisplay)*var(--ship3)));
}
.containerSize4{
    height: calc(20px + (var(--cellSizeOnDisplay)*var(--ship4)));
}
.containerSize5{
    height: calc(20px + (var(--cellSizeOnDisplay)*var(--ship5)));
}
.dragAndDropShip{
    display: grid;
    height: fit-content;
    width: fit-content;
}

.topToBottom{
    grid-auto-flow: row dense
}

.leftToRight{
    grid-auto-flow: column dense
}

.shipCell {
    background: darkblue;
    height: 25px;
    width: 25px;
}
.onBoard{
    position: absolute;
}
.onBoard > .shipCell{
    height: 32px;
    width: 32px;
}
.placedShipInCell{
    background: red;
}
.axisButton{
    height: 50px;
    width: 120px;
}
